/* Navbar */

h3{
    font-family: 'Lobster Two', cursive;
    font-weight: 700;
    font-size: 2.75em;
}

.navbar-text{
    color: #A19B4F;
}

.col{
    display: inline;
}

.pet-logo{
    width: 10%; 
}

.nav-pills li.active a, .nav-pills li.active a:focus, .nav-pills li.active a:hover{
  background-color: #EAE3D0;
  color:  #A19B4F;
  border: 1px solid #A19B4F; 
}

.nav-pills li.not-active a, .nav-pills li.active a:focus, .nav-pills li.not-active a:hover{
    background-color: white;
    color: #A19B4F;
    border: 1px solid #A19B4F; 
}

/* Jumbotron */

.jumbo-text{
    font-family: 'Roboto', sans-serif;
    font-weight:  300;
    color: white;
    text-align: center;
    font-size: 1.75em;
}

.jumbotron{
    background-image: url(/img/hero.jpg);
    background-size: cover;
    height: 33em;

}

/* Features & Services */



.product-img{
    width: 80%;
    display: block;
    margin: 0 auto;
}

.feature-cont{
    background-color: #EAE3D0;
    padding-top: 5px;
    

}



